<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addReservation</servlet-name>
        <servlet-class>hotel.management.AddReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvailableRoomServlet</servlet-name>
        <servlet-class>AvailableRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addItemServlet</servlet-name>
        <servlet-class>HMS.Payment.addItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listPayServlet</servlet-name>
        <servlet-class>HMS.Payment.listPayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePayServlet</servlet-name>
        <servlet-class>HMS.Payment.updatePayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePaymentItemServlet</servlet-name>
        <servlet-class>HMS.Payment.RemovePaymentItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAssignedTaskServlet</servlet-name>
        <servlet-class>hotel.management.LoadAssignedTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitTaskStatusServlet</servlet-name>
        <servlet-class>hotel.management.SubmitTaskStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignTaskServlet</servlet-name>
        <servlet-class>hotel.management.AssignTaskServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addReservation</servlet-name>
        <url-pattern>/addReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvailableRoomServlet</servlet-name>
        <url-pattern>/AvailableRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addItemServlet</servlet-name>
        <url-pattern>/addItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listPayServlet</servlet-name>
        <url-pattern>/listPayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePayServlet</servlet-name>
        <url-pattern>/updatePayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePaymentItemServlet</servlet-name>
        <url-pattern>/RemovePaymentItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignTaskServlet</servlet-name>
        <url-pattern>/AssignTaskServlet</url-pattern>
    </servlet-mapping>
    <!--    <servlet>
        <servlet-name>UpdateTaskServlet</servlet-name>
        <servlet-class>hotel.management.UpdateTaskServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateTaskServlet</servlet-name>
        <url-pattern>/UpdateTaskServlet</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>SubmitTaskStatusServlet</servlet-name>
        <url-pattern>/SubmitTaskStatusServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

</web-app>
